*.swp
.*

node_modules/
package.json
gruntfile.js
config.rb
.git

!/.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
